<service
    android:name=".NotificationListener"
    android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
    <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
    </intent-filter>
</service>


public class NotificationListener extends NotificationListenerService {
    private SQLiteDatabaseHandler db;

    public String foregroundApp="";
    private Timer timer;
    public String mAccountName;
    public NotificationListener() {
        db = new SQLiteDatabaseHandler(this);
    }



    @Override
    public void onNotificationPosted(StatusBarNotification sbn) {
        Bundle extras = sbn.getNotification().extras;
        if ((sbn.getNotification().flags & Notification.FLAG_GROUP_SUMMARY) != 0) {
            Log.d("error", "Ignore the notification FLAG_GROUP_SUMMARY");
            return;
        }
        String title="";
        String text="";
        try {
            if (extras.get("android.title") instanceof String) {
                title = extras.getString("android.title");
            }
            if (extras.get("android.title") instanceof SpannableString) {
                title = extras.get("android.title").toString();
            }
            text = extras.getCharSequence("android.text").toString();
        }
        catch(Exception e)
        {
            Log.i("exception",e.getMessage());
        }

       
        String date = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss", Locale.getDefault()).format(new Date());
        Notifs thisNotif=new Notifs();
        thisNotif.setMessage(text);
        thisNotif.setTitle(title);
        thisNotif.setPackageName(sbn.getPackageName());
        thisNotif.setTime(date);
        thisNotif.setInum(sbn.getId());
        db.addNotification(thisNotif);
        super.onNotificationPosted(sbn);
    }

    @Override
    public void onNotificationRemoved(StatusBarNotification sbn) {
        super.onNotificationRemoved(sbn);
    }

    @Override
    public void onListenerConnected() {
        //Start Webserver
      startTimer();
        super.onListenerConnected();
    }

    @Override
    public void onListenerDisconnected() {

        stopTimer();
        super.onListenerDisconnected();
    }


Intent intent = new Intent(Settings.ACTION_NOTIFICATION_LISTENER_SETTINGS);
   startActivity(intent);


